<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/ws-script.js" defer></script>

    <title>word search</title>
</head>
<body>
<h1>word search</h1>

<!-- <div style="float: left; max-width: 15%;"> -->
<div style="float: left;">
<p id="timer">00:00</p>
<p id="word-counter"><b>words: 0/{{ word_list|length }}</b></p>
<div id="word-list">
{% for word in word_list %}
    <div class="ws-word" id="ws-word_{{ word }}">{{ word }}</div>
{% endfor %}
</div>
</div>

<!-- <div style="margin-left: 15%; float: right;"> -->
<div style="float: right;">
<p id="word-selected" class="invisible">hidden</p>

<table id="ws-table" cellpadding="0" cellspacing="0">
    {% for row in board %}
        <tr class="ws-row">
            {% for letter in row %}
                <td><div class="ws-letter noselect">{{ letter }}</div></td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
</div>

</body>
</html>